

@keyframes slideUp {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateX(0);
    }
}

body{
    margin:0%;
    
}
h1 { 
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-image: url(https://thumbs.dreamstime.com/b/matterhorn-panorama-viewed-rothorn-paradise-m-above-zermatt-switzerland-61441165.jpg);  
    font-size: 10vw ;   
    color: azure;
    text-align:center;
    margin-top: 0%;
    margin-bottom: 0%;
   
    background-color: rgba(15, 54, 114, 1);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    
}

#navbar {
    background-color: rgba(15, 54, 114, 1);
    height: 140px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    flex-direction: row;
}
.nav-wrapper{
    display: flex;
}
.nav{
    margin: 2%;
    color: white;
    font-size:xx-large; 
    font-family: 'Cormorant Garamond', serif;
    transform: .5s;
    text-align: center;
    width: 250px;
}
#faq{
    width: auto;
    margin-right: 8%;
}



.backdrop {
    background-color:#1b5493;
    height: 50vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    
}

.description {
    display: flex;
    text-align: center;
    /* height: 150px; */
    align-items: center; 
    justify-content: center;
    justify-items: center;
    /* border: solid #86868e 2px;
    border-radius: 3px;
    box-shadow:5px 5px 3px #c9cace; */
    margin-left: 10%;
    margin-right: 10%;
    padding: 1.5%;
    font-family: 'Thasadith', sans-serif;

    font-size: 30pt;
 
    color: white;
    background-color:#1b5493;
    /* margin-top: 5%;
    margin-bottom: 5%; */
}

.backdropI{
    background-color: #FAFBFC;
    display: flex;
    height: fit-content;

}

.itenerary {
text-align: center;
margin-left:  5%;
margin-right: 5%;
margin-top: 3%;
margin-bottom: 3%;
font-family: 'Cormorant Garamond', serif;


}
#week {
    background-color: #FAFBFC;
    font-family: 'Thasadith', sans-serif;
    font-size: larger;
   
    /* box-shadow:5px 5px 3px #65666a; */
}
 
#I{
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    color: rgb(30, 29, 29);
    font-size: 20pt;
}
.daysOftheWeek{
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    color: rgb(64, 62, 62);
    font-size: x-large;
}


.AproxCostBackground{
    background-color:#043d87a7 ;
    height: auto;
    display: flex;
    justify-items: center;
    z-index: 2;
}

.cost {
    text-align: center;
    border: solid;
    margin-left:  20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    background-color: #FAFBFC;
    box-shadow:5px 5px 3px #65666a;
    /* font-family: 'Thasadith', sans-serif;
    font-weight: bold; */
}


table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(90, 90, 92);
    border: none;
}
 
  th, td {
  padding: 10px;
  /* text-align: left; */
}

th {
    /* text-decoration: underline; */
    font-family: 'Cinzel', serif;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    color: #65666a;
    font-weight: lighter;
    
}

td {
    border-right:1px solid rgb(80, 78, 78);
     /* text-align: left; */
}


.noboarder{
    border-right: none;
}


.sections{
    display: flex;
    height: 750px;
    
    
}

.colums{
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
   
}
 
.headings{
    /* width: 70%;
    height: 10%; */
    display: flex;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size:50pt;
    justify-content: center;
    align-items: center;

}
#whoIsGoing{
    font-family: 'Thasadith', sans-serif;
    font-size: 28pt;
    
    margin: 7%;
    color: #65666a;
    text-align: center;
}


.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.functionsbtns{
    background-color: #1b5493;
    color: #FAFBFC;
    padding: 20px;
    font-size: 30pt;
    font-family: 'Thasadith', sans-serif;
    border: white 3px solid;
    transition: 0.3s;

}
.functionsbtns:hover{
    color:#65666a;
    background-color:#FFFFFF;
    transform: scale3d(1.3,1.3,1.3);
    font-weight: bold;
}

.headerbuttons{
    margin-left: 2%;
}

.flexy{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#autoheight{
    height: max-content;
    background-color: #1b5493; ;
}

#squad{
   background-color: #1b5493; ;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-left: 2%;
    align-items: center;
}

#callnames{
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    color:  #65666a;
    font-size: 17pt;
    text-align: center;
    margin-bottom: 3%;
}

.infofrombtn{
    border: #65666a 2px solid;
    background-color: rgb(255, 255, 255);
    margin: 2%;
    padding: 15px;
    height: 250px;
    width: 200px;
    border-radius:4px;
}

.stats{
    font-family: 'Thasadith', sans-serif;
    color:  #65666a;
    background-color: white;
    font-size: 20pt;
    font-weight: bold;
    height: max-content;
    width: max-content;
    padding: 30px;
    text-align: center;
    /* box-shadow: 8px 5px 5px darkgray; */
}

ul{
    list-style-type:none;
    padding-left: 20%;
}
.skier-info{
    font-family: 'Thasadith', sans-serif;
    color:  #65666a;
    background-color: white;
    font-size: 14pt;
    /* text-align: center; */
}


 form {
    background-size: 100%;
    text-align: center;
    border: solid;
    margin-left:  35%;
    margin-right: 35%;
    margin-top: 0%;
    padding: 1.5%;
    font-family: 'Thasadith', sans-serif;
    font-size: larger;
    background-color:rgba(218, 225, 235, 0.71);
    /* background-color: rgba(128, 128, 128, 0.793); */
    padding: 3%;
    width: 30vw;
}
#formbackground{
    display: flex;
    align-items: center;
    background-image: url("/spic");
    height: 110vh;
    background-attachment:fixed;
    background-size: 100%;
    justify-content: center;
}

#enhance{
    width: 250px;
    background-color: rgb(228, 233, 241);
}

.info{
    font-size: 20pt;
    text-align: left;
    margin-left:auto;
    margin-right: auto;
    width: 300px;
    font-family: 'Thasadith', sans-serif;
    font-weight: bold;
}

input{
    background-color: rgb(228, 233, 241);
    height: 35px;
    width: 250px;
    
}



input[type=radio]{
    width: 20px;
    height: 20px;
    margin: 0;
    accent-color: gray;
}
.radiobutton{
    font-size: 17pt;
    margin: 5%;
    width: max-content;
}
#ridetype{
    margin-top: 20%;
}

#age{
    margin-bottom: 3%;
}


#footer{
    background-color: rgba(15, 54, 114, 1);
    height: 15vh;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20pt;
    
}

.contact{
    margin-left: 8%;
   margin-top:auto ;
   margin-bottom:auto ;
}


textarea{
    background-color: #c5c5c8;
}

#radiobutton{
    display: flex;
    display: inline;
}

#underline{
    margin-top: 2%;
    text-decoration: underline;
}
.nav:hover{
    /* color:#65666a;
    background-color:#FFFFFF; */
    transform: scale3d(1.1,1.1,1.1);
    font-weight: bold;
}

#submitbtn{
    margin-top: 15px;
    background-color: #c5c5c8;
    color: black;
    padding: 10px;
    font-size: 20pt;
    font-family: 'Thasadith', sans-serif;
    border: black 1px solid;
    transition: 0.3s;
    text-align: center;
    width: auto;

}
#submitbtn:hover{
    color:#65666a;
    background-color:#FFFFFF;
    transform: scale3d(1.1,1.1,1.1);
    font-weight: bold;
}